* {
    padding: 0px;
    margin: 0px;
    /* font-family: Lato sans-serif; */
}

.header {
    background-color: black;
    display: flex;
    justify-content: center;


}

.conteiner_menu {
    width: 1140px;
    display: flex;
    justify-content: space-between;

}

.menu {
    display: flex;
    margin: 0px;
    padding: 18px 0px 25px 0px;
    align-items: center;
}

.menu_link {
    display: block;
    margin-right: 41px;
    position: relative;
}


.mega_menu_box {
    position: absolute;
    background-color: white;
    top: 52px;
    left: -2px;
    width: 232px;
    padding-bottom: 50px;
    min-height: 764px;
    display: none;
    z-index: 1;
}


/* эффект появления меню */
.menu:hover .mega_menu_box {
    display: table;
}

.mega_menu_heading {
    color: #000000;
    text-transform: uppercase;
    margin-top: 37px;
    margin-left: 34px;
    margin-bottom: 24px;
}


.link_mega_menu {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: #6F6E6E;
    margin-top: 11px;
    margin-left: 54.5px;
    font-size: 14px;
    line-height: 17px;
    line-height: 100%;

}

.item_main {
    background-color: #F1E4E6;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mega_menu_title {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 34px;
    margin-bottom: 12px;
    color: #F16D7F;
    font-size: 14px;
    line-height: 17px;
    line-height: 100%;
    margin-top: 20px;


}

/* эффект окрашивания ссылки товаров */

.link_mega_menu:hover {
    color: #F16D7F;
}



/* блок аривалс */

.new_arivals {
    background-color: #F8F3F4;
    display: flex;
    justify-content: center;
}

.new_arivals_conteiner {
    width: 1140px;
    height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new_arivals_heading {
    display: block;
    font-style: Regular;
    font-size: 24px;
    line-height: 29px;
    line-height: 100%;
    color: #F16D7F;
}

.brad {
    display: flex;
}

.brad_link {
    display: block;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    Line-height: 16.8px;
    text-transform: uppercase;
    color: #636363
}

.brad_link:hover {
    color: #F16D7F;
}


/* добавляем фильтры */

.filtration {
    display: flex;
    justify-content: center;

}

.filtration_box {
    width: 1140px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 51px;


}

.details_box {
    width: 325px;
    background-color: #FFFFFF;
    padding-bottom: 24px;


}

.filter {
    position: absolute;
    left: 0px;
    z-index: 1;

}

.filter_text {
    display: block;
    margin-bottom: 16px;
    padding-left: 16px;

}

.category_text {
    display: block;
    border-left: 5px solid #F16D7F;
    border-bottom: 1px solid #EBEBEB;
    margin: 32px 15.5px 18.5px 16px;
    padding-left: 11px;

}

.category_text:hover {
    color: #F16D7F;

}

.filter_text:hover {
    color: #F16D7F;

}

.link_category_text {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: #6F6E6E;
    font-size: 14px;
    line-height: 17px;
    line-height: 100%;
    margin-bottom: 11px;
    margin-right: 11px;
    margin-left: 34px;
}

.link_category_text:hover {
    color: #F16D7F;
}

.choose_blok {
    display: flex;
}

.choose_blok_detalils {
    position: relative;
    /* background-color: #FFFFFF;
    box-shadow: 5px 5px 5px 5px color #E5E5E5;
    border: 1px solid #E5E5E5; */

}

.choose_blok_option {
    width: 122px;
    display: block;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 5px 5px color #E5E5E5;
    z-index: 1;
    padding-left: 9.5px;

}

.choose_blok_text {
    display: block;
    margin-right: 23px;
    margin-bottom: 5px;
}

.input {

    text-transform: uppercase;
    margin-top: 6px;
    margin-bottom: 6px;
    color: #6F6E6E;
    font-size: 14px;
    line-height: 16px;
    line-height: 100%;
}

.choose_blok_text:hover {
    color: #F16D7F;

}


/* добавляем item */


.item_main {
    display: flex;
    background-color: white;
}

.item_box {
    margin-top: 64px;
    margin-bottom: 48px;
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item_box {
    width: 1140px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.item {
    width: 360px;
    height: 100%;
    background-color: #F8F8F8;
    margin-top: 30px;
    position: relative;
}

.item_link_box {
    display: block;
    text-decoration: none;
    color: #5D5D5D;


}

.text_add_cart {
    padding: 8px;
}

.add_link {
    display: block;
    display: none;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid white;
    width: fit-content;
    position: absolute;
    top: 188px;
    left: 111px;
    padding: 10px 15px 10px 15px;

}

.item:hover .add_link {
    display: flex;
}


.item:hover .img_item {
    filter: brightness(30%);
}

.add_link:hover {
    box-shadow: 0px 0px 8px 8px #FFFFFF;
    border: #F8F8F8;
}



.text_add_cart {
    display: block;
}

.item_header {
    display: block;
    color: #000000;
    font-size: 13px;
    line-height: 15.6px;
    margin-top: 25px;
    margin-left: 18px;
}

.item_text {
    display: block;
    margin-top: 13px;
    font-size: 14px;
    line-height: 16.8px;
    margin-left: 18px;
}

.item_price {
    margin-top: 18px;
    color: #F16D7F;
    margin-left: 18px;
    margin-bottom: 20px;
}


/* пагинация */

.pagination {
    display: flex;
    justify-content: center;
}

.pagination_box {
    margin-bottom: 109px;
    margin-top: 48.5px;
    border: 1px solid #EBEBEB;
    padding: 11.5px 40px;
}

.pagination_box a {
    color: #C4C4C4;
    padding: 8px 16px;
    text-decoration: none;
    font-style: Light;
    font-size: 16px;
    line-height: 19px;
    line-height: 100%;
}

/* Стиль активной/текущей ссылки */
.pagination_box a.active {

    color: #EF5B70;
}

/* эффект наведения на пагинацию */
.pagination_box a:hover:not(.active) {
    color: #EF5B70;
}


.footer {
    flex: 0 0 auto;
}

.first_footer {
    background-color: #222222;
    display: flex;
    justify-content: center;
}

.footer_conteiner {
    height: 341px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bread {
    text-decoration: none;
    width: 360px;
    margin-top: 103px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img_footer {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer_text {
    color: #FFFFFF;
    font-weight: 400;
    margin-top: 28px;
    display: block;
}

.footer_item_text {
    color: #FFFFFF;
    font-weight: 300;
    margin-top: 16px;
    display: block;
    font-size: 13px;
    line-height: 16.77px;
    text-align: center;
}

.subscribe {
    background-image: url(img/photo-subscribe.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    display: flex;
    justify-content: center;
}

.subscribe_conteiner {
    width: 1140px;
    display: flex;
    justify-content: space-between;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_review {
    display: block;
    height: 320px;
    width: 186px;

}

.review_text {
    display: block;
    width: 360px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 557px;
}

.text_form {
    display: block;
    margin-top: 150px;
    text-align: center;
    margin-bottom: 32px;
    text-align: center;
}

.text_subscribe {
    display: block;
    width: 557px;
    margin-bottom: 16px;
    width: 557px;
}

.text_sub {
    text-align: center;
}

.enter_text {
    height: 43px;
    width: 256px;
    border-style: none;
    background-color: #E1E1E1;
    border-radius: 30px 0px 0px 30px;
    padding-left: 22px;

}

.button_subscribe {
    height: 43px;
    border-style: none;
    background-color: #FFFFFF;
    border-radius: 0px 30px 30px 0px;
}

.text_bottom {
    padding-left: 16px;
    padding-right: 16px;
    color: #F16D7F;
    padding-top: 13px;
    padding-bottom: 13px;
}

.button_subscribe:hover {
    background-color: #F16D7F;
}

.text_bottom:hover {
    color: #FFFFFF;
}

.second_footer {
    background-color: #222222;
    display: flex;
    justify-content: center;
    height: 79px;
}

.second_footer_conteiner {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    color: #FFFFFF;
    align-items: center;

}