* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.header {
    background-color: #222222;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;


    .menu {
        width: 1140px;
        height: 75px;
        display: flex;
        justify-content: space-between;

        .list_1 {
            display: flex;
            list-style: none;
            align-items: center;
            height: 75px;
            width: 111px;
            justify-content: space-between;



        }

        .list_2 {
            display: flex;
            list-style: none;
            align-items: center;
            height: 75px;
            width: 160px;
            justify-content: space-around;
        }



    }
}

.item_main {
    height: 764px;
    background-color: #F1E4E6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 65px;
    align-items: center;


    .conteiner {
        display: flex;
        width: 1140px;
        justify-content: center;


    }

}

.conteiner_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .img_item {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .up_promo {
        width: 1140px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;




        .item_1 {
            background-image: url(img/1-for-women.svg);
            width: 360px;
            height: 260px;
            display: flex;
            flex-direction: column;
            justify-content: center;



        }

        .item_2 {
            background-image: url(img/1-for-man.svg);
            width: 360px;
            height: 260px;

        }

        .item_3 {
            background-image: url(img/1-for-kids.svg);
            width: 360px;
            height: 260px;
        }



    }

    .item_4 {
        width: 1140px;
        height: 260px;
        background-image: url(img/item_bottom.svg);
        background-repeat: no-repeat;
        background-position: 100%;
        align-items: center;
        margin-bottom: 96px;
    }




}