* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.header {
    background-color: #222222;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;


    .menu {
        width: 1140px;
        height: 75px;
        display: flex;
        justify-content: space-between;

        .list_1 {
            display: flex;
            list-style: none;
            align-items: center;
            height: 75px;
            width: 111px;
            justify-content: space-between;



        }

        .list_2 {
            display: flex;
            list-style: none;
            align-items: center;
            height: 75px;
            width: 160px;
            justify-content: space-around;
        }



    }
}

.item_main {
    height: 764px;
    background-color: #F1E4E6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 65px;
    align-items: center;


    .conteiner {
        display: flex;
        width: 1140px;
        justify-content: center;

        .men {
            padding-right: 205px;
        }

        .brand {
            margin-top: 290px;
            height: 93px;
            border-left: 16px solid #F16D7F;
            display: block;
            padding-right: 218px;

            .the_brand {

                width: 377px;
                margin-left: 16px;
                color: #222222;
                font-size: 48px;
                line-height: 57.6px;
            }

            .fashion {
                width: 400px;
                margin-left: 16px;
                font-size: 32px;
                line-height: 38.4px;
            }

            span {
                color: #F16D7F;
            }
        }


    }

}

.conteiner_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .img_item {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .up_promo {
        width: 1140px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        .promo {
            display: flex;
            width: 360px;
            height: 260px;


            .link_promo {
                text-decoration: none;


                .img_promo {
                    position: absolute;
                    // box-shadow: rgba(0, 0, 0, 0.8) inset;
                    filter: brightness(30%);
                }

                .promo_text {
                    position: relative;
                    color: #FFFFFF;
                    width: 154px;
                    height: 50px;
                    left: 103px;
                    top: 105px;
                    font-size: 16px;
                    line-height: 19.2px;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    flex-direction: column;


                    span {
                        text-transform: uppercase;
                        font-size: 24px;
                        color: #F16D7F;
                        line-height: 28.8px;

                    }

                }



            }


        }






    }

    .big_promo {
        width: 1140px;
        height: 180px;
        margin-bottom: 96px;

        .link_promo {
            text-decoration: none;
        }

        .img_promo {
            position: absolute;
            filter: brightness(30%);
        }

        .promo_text {
            position: relative;
            color: #FFFFFF;
            width: 154px;
            height: 50px;
            left: 491px;
            top: 65px;
            font-size: 16px;
            line-height: 19.2px;
            text-transform: uppercase;

            span {
                text-transform: uppercase;
                font-size: 24px;
                color: #F16D7F;
                line-height: 28.8px;

            }

        }


    }

    .text_fetured {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 48px;

        .fetured {
            color: #222222;
            font-size: 30px;
            line-height: 36px;
            line-height: 100%;
            margin-bottom: 6px;
        }

        .shop {
            font-size: 14px;
            line-height: 17px;
            line-height: 100%;
            color: #9F9F9F;
        }
    }

    .item_box {
        width: 1140px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item {
            width: 360px;
            height: 581px;


            .item_header {
                color: #000000;
                font-size: 13px;
                line-height: 15.6px;
                margin-top: 25px;
                margin-left: 18px;
            }

            .item_text {
                margin-top: 13px;
                font-size: 14px;
                line-height: 16.8px;
                margin-left: 18px;
            }

            .item_price {
                margin-top: 18px;
                color: #F16D7F;
                margin-left: 18px;


            }

        }


    }

    .bottom {
        text-decoration: none;
        margin-bottom: 95px;
        margin-top: 49px;

        .browse_bottom {
            border: 3px solid #F16D7F;

            .browse_text {
                color: #F26376;
                padding: 15px 35px;
            }
        }
    }

    // эффект наведения
    .bottom:hover {
        background-color: #F16D7F;

        .browse_text {
            color: #FFFFFF;
        }
    }


}

footer {
    flex: 0 0 auto;

    .first_footer {
        background-color: #222222;
        display: flex;
        justify-content: center;


        .footer_conteiner {
            height: 341px;
            width: 1140px;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .bread {
                text-decoration: none;
                width: 360px;
                margin-top: 103px;
                display: flex;
                align-items: center;
                flex-direction: column;

                .img_footer {
                    display: block;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }



                .footer_text {
                    color: #FFFFFF;
                    font-weight: 400;
                    margin-top: 28px;
                    display: block;
                }

                .footer_item_text {
                    color: #FFFFFF;
                    font-weight: 300;
                    margin-top: 16px;
                    display: block;
                    font-size: 13px;
                    line-height: 16.77px;
                    text-align: center;
                }
            }


        }

    }

    .subscribe {
        background-image: url(img/photo-subscribe.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 450px;
        display: flex;
        justify-content: center;


        .subscribe_conteiner {
            width: 1140px;
            display: flex;
            justify-content: space-between;


            .review {
                display: flex;
                flex-direction: column;
                align-items: center;


                .img_review {
                    display: block;
                    height: 320px;
                    width: 186px;

                }

                .review_text {
                    display: block;
                    width: 360px;
                    text-align: center;
                }
            }

            .form {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 557px;

                .text_form {
                    display: block;
                    margin-top: 150px;
                    text-align: center;
                    margin-bottom: 32px;
                    text-align: center;
                }

                .text_subscribe {
                    display: block;
                    width: 557px;
                    margin-bottom: 16px;
                    width: 557px;
                }

                .text_sub {
                    text-align: center;
                }

                .enter_text {
                    height: 43px;
                    width: 256px;
                    border-style: none;
                    background-color: #E1E1E1;
                    border-radius: 30px 0px 0px 30px;
                    padding-left: 22px;

                }


                .button_subscribe {
                    height: 43px;
                    border-style: none;
                    background-color: #FFFFFF;
                    border-radius: 0px 30px 30px 0px;

                    .text_bottom {
                        padding-left: 16px;
                        padding-right: 16px;
                        color: #F16D7F;
                        padding-top: 13px;
                        padding-bottom: 13px;
                    }
                }

                .button_subscribe:hover {
                    background-color: #F16D7F;

                    .text_bottom:hover {
                        color: #FFFFFF;
                    }
                }




            }
        }
    }

    .second_footer {
        background-color: #222222;
        display: flex;
        justify-content: center;
        height: 79px;

        .second_footer_conteiner {
            display: flex;
            justify-content: space-between;
            width: 1140px;
            color: #FFFFFF;
            align-items: center;

        }

    }



}