* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  background-color: #222222;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu {
  width: 1140px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu .list_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  width: 111px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu .list_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  width: 160px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.item_main {
  height: 764px;
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item_main .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1140px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item_main .conteiner .men {
  padding-right: 205px;
}

.item_main .conteiner .brand {
  margin-top: 290px;
  height: 93px;
  border-left: 16px solid #F16D7F;
  display: block;
  padding-right: 218px;
}

.item_main .conteiner .brand .the_brand {
  width: 377px;
  margin-left: 16px;
  color: #222222;
  font-size: 48px;
  line-height: 57.6px;
}

.item_main .conteiner .brand .fashion {
  width: 400px;
  margin-left: 16px;
  font-size: 32px;
  line-height: 38.4px;
}

.item_main .conteiner .brand span {
  color: #F16D7F;
}

.conteiner_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conteiner_2 .img_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conteiner_2 .up_promo {
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.conteiner_2 .up_promo .promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  height: 260px;
}

.conteiner_2 .up_promo .promo .link_promo {
  text-decoration: none;
}

.conteiner_2 .up_promo .promo .link_promo .img_promo {
  position: absolute;
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.conteiner_2 .up_promo .promo .link_promo .promo_text {
  position: relative;
  color: #FFFFFF;
  width: 154px;
  height: 50px;
  left: 103px;
  top: 105px;
  font-size: 16px;
  line-height: 19.2px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conteiner_2 .up_promo .promo .link_promo .promo_text span {
  text-transform: uppercase;
  font-size: 24px;
  color: #F16D7F;
  line-height: 28.8px;
}

.conteiner_2 .big_promo {
  width: 1140px;
  height: 180px;
  margin-bottom: 96px;
}

.conteiner_2 .big_promo .link_promo {
  text-decoration: none;
}

.conteiner_2 .big_promo .img_promo {
  position: absolute;
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.conteiner_2 .big_promo .promo_text {
  position: relative;
  color: #FFFFFF;
  width: 154px;
  height: 50px;
  left: 491px;
  top: 65px;
  font-size: 16px;
  line-height: 19.2px;
  text-transform: uppercase;
}

.conteiner_2 .big_promo .promo_text span {
  text-transform: uppercase;
  font-size: 24px;
  color: #F16D7F;
  line-height: 28.8px;
}

.conteiner_2 .text_fetured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

.conteiner_2 .text_fetured .fetured {
  color: #222222;
  font-size: 30px;
  line-height: 36px;
  line-height: 100%;
  margin-bottom: 6px;
}

.conteiner_2 .text_fetured .shop {
  font-size: 14px;
  line-height: 17px;
  line-height: 100%;
  color: #9F9F9F;
}

.conteiner_2 .item_box {
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.conteiner_2 .item_box .item {
  width: 360px;
  height: 581px;
}

.conteiner_2 .item_box .item .item_header {
  color: #000000;
  font-size: 13px;
  line-height: 15.6px;
  margin-top: 25px;
  margin-left: 18px;
}

.conteiner_2 .item_box .item .item_text {
  margin-top: 13px;
  font-size: 14px;
  line-height: 16.8px;
  margin-left: 18px;
}

.conteiner_2 .item_box .item .item_price {
  margin-top: 18px;
  color: #F16D7F;
  margin-left: 18px;
}

.conteiner_2 .bottom {
  text-decoration: none;
  margin-bottom: 95px;
  margin-top: 49px;
}

.conteiner_2 .bottom .browse_bottom {
  border: 3px solid #F16D7F;
}

.conteiner_2 .bottom .browse_bottom .browse_text {
  color: #F26376;
  padding: 15px 35px;
}

.conteiner_2 .bottom:hover {
  background-color: #F16D7F;
}

.conteiner_2 .bottom:hover .browse_text {
  color: #FFFFFF;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

footer .first_footer {
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .first_footer .footer_conteiner {
  height: 341px;
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .first_footer .footer_conteiner .bread {
  text-decoration: none;
  width: 360px;
  margin-top: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .first_footer .footer_conteiner .bread .img_footer {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .first_footer .footer_conteiner .bread .footer_text {
  color: #FFFFFF;
  font-weight: 400;
  margin-top: 28px;
  display: block;
}

footer .first_footer .footer_conteiner .bread .footer_item_text {
  color: #FFFFFF;
  font-weight: 300;
  margin-top: 16px;
  display: block;
  font-size: 13px;
  line-height: 16.77px;
  text-align: center;
}

footer .subscribe {
  background-image: url(img/photo-subscribe.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .subscribe .subscribe_conteiner {
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .subscribe .subscribe_conteiner .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .subscribe .subscribe_conteiner .review .img_review {
  display: block;
  height: 320px;
  width: 186px;
}

footer .subscribe .subscribe_conteiner .review .review_text {
  display: block;
  width: 360px;
  text-align: center;
}

footer .subscribe .subscribe_conteiner .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 557px;
}

footer .subscribe .subscribe_conteiner .form .text_form {
  display: block;
  margin-top: 150px;
  text-align: center;
  margin-bottom: 32px;
  text-align: center;
}

footer .subscribe .subscribe_conteiner .form .text_subscribe {
  display: block;
  width: 557px;
  margin-bottom: 16px;
  width: 557px;
}

footer .subscribe .subscribe_conteiner .form .text_sub {
  text-align: center;
}

footer .subscribe .subscribe_conteiner .form .enter_text {
  height: 43px;
  width: 256px;
  border-style: none;
  background-color: #E1E1E1;
  border-radius: 30px 0px 0px 30px;
  padding-left: 22px;
}

footer .subscribe .subscribe_conteiner .form .button_subscribe {
  height: 43px;
  border-style: none;
  background-color: #FFFFFF;
  border-radius: 0px 30px 30px 0px;
}

footer .subscribe .subscribe_conteiner .form .button_subscribe .text_bottom {
  padding-left: 16px;
  padding-right: 16px;
  color: #F16D7F;
  padding-top: 13px;
  padding-bottom: 13px;
}

footer .subscribe .subscribe_conteiner .form .button_subscribe:hover {
  background-color: #F16D7F;
}

footer .subscribe .subscribe_conteiner .form .button_subscribe:hover .text_bottom:hover {
  color: #FFFFFF;
}

footer .second_footer {
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 79px;
}

footer .second_footer .second_footer_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1140px;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=index.css.map */