* {
    padding: 0px;
    margin: 0px auto;
    font-family: Lato sans-serif;
}

.header {
    background-color: black;
    display: flex;
    justify-content: center;


}

.conteiner_menu {
    width: 1140px;
    display: flex;
    justify-content: space-between;

}

.menu {
    display: flex;
    margin: 0px;
    padding: 18px 0px 18px;
    align-items: center;
}

.menu_link {
    display: block;
    margin-right: 41px;
    position: relative;
}


.mega_menu_box {
    position: absolute;
    background-color: white;
    top: 55px;
    left: 217px;
    width: 232px;
    padding-bottom: 50px;
    min-height: 764px;
    display: none;
}

.menu:hover .mega_menu_box {
    display: table;
}

.mega_menu_heading {
    color: #000000;
    text-transform: uppercase;
    margin-top: 37px;
    margin-left: 34px;
    margin-bottom: 24px;
}


.link_mega_menu {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: #6F6E6E;
    margin-top: 11px;
    margin-left: 54.5px;
    font-size: 14px;
    line-height: 17px;
    line-height: 100%;

}

.item_main {
    background-color: #F1E4E6;
    display: flex;
    flex-direction: column;
}

.conteiner_main {
    width: 1160px;
    display: flex;
    justify-content: space-between;
}

.brand {
    border-left: 12px solid #F16D7F;
    height: fit-content;
    padding-left: 10px;
    margin-top: 290px;
}

.the_brand .fashion {
    display: block;
}

span {
    color: #F16D7F;
}

.mega_menu_title {
    text-transform: uppercase;
    margin-left: 34px;
    margin-bottom: 12px;
    color: #F16D7F;
    font-size: 14px;
    line-height: 17px;
    line-height: 100%;
    margin-top: 20px;


}




.link_mega_menu:hover {
    color: #F16D7F;
}