* {
    padding: 0px;
    margin: 0px;

}

$width-syte: 1140px;

.center_box {
    display: flex;
    justify-content: center;
}

.text_style {
    font-size: 24px;
    font-style: length;
    line-height: 29px;
    line-height: 100%;
}

.text_style_form {
    font-style: Light;
    font-size: 13px;
    line-height: 16px;
    line-height: 100%;
    color: #B1B1B1;
}





.header {
    background-color: black;
    display: flex;
    justify-content: center;


}

.conteiner_menu {
    width: 1140px;
    display: flex;
    justify-content: space-between;

}

.menu {
    display: flex;
    margin: 0px;
    padding: 18px 0px 25px 0px;
    align-items: center;
}

.menu_link {
    display: block;
    margin-right: 41px;
    position: relative;
}


.mega_menu_box {
    position: absolute;
    background-color: white;
    top: 52px;
    left: -2px;
    width: 232px;
    padding-bottom: 50px;
    min-height: 764px;
    display: none;
    z-index: 1;
}


/* эффект появления меню */
.menu:hover .mega_menu_box {
    display: table;
}

.mega_menu_heading {
    color: #000000;
    text-transform: uppercase;
    margin-top: 37px;
    margin-left: 34px;
    margin-bottom: 24px;
}


.link_mega_menu {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: #6F6E6E;
    margin-top: 11px;
    margin-left: 54.5px;
    font-size: 14px;
    line-height: 17px;
    line-height: 100%;

}

.item_main {
    background-color: #F1E4E6;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mega_menu_title {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 34px;
    margin-bottom: 12px;
    color: #F16D7F;
    font-size: 14px;
    line-height: 17px;
    line-height: 100%;
    margin-top: 20px;


}

/* эффект окрашивания ссылки товаров */

.link_mega_menu:hover {
    color: #F16D7F;
}


.footer {
    flex: 0 0 auto;
}

.first_footer {
    background-color: #222222;
    display: flex;
    justify-content: center;
}

.footer_conteiner {
    height: 341px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bread {
    text-decoration: none;
    width: 360px;
    margin-top: 103px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img_footer {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;

}


.registration {
    @extend .center_box;
    background-color: #F8F3F4;

    .registration_box {
        width: $width-syte;

        .registration_box_herding {
            display: block;
            text-transform: uppercase;
            margin-top: 60px;
            margin-bottom: 60px;
            color: #F16D7F;
            font-size: 24px;
            line-height: 29px;
            line-height: 100%;
        }
    }


}

.registration_form {
    @extend .center_box;
    margin-top: 64px;



    .registration_form_box {
        display: flex;
        width: $width-syte;

        &_input {
            display: flex;
            flex-direction: column;
            padding-right: 128px;
            // width: $width-syte/2;

            .registration_form_box_input_text {
                text-transform: capitalize;
                font-size: 16px;
                line-height: 19px;
                line-height: 100%;
                margin-bottom: 20.5px;
            }

            .registration_form_box_input_name {
                display: flex;
                flex-direction: column;
                max-width: 360px;

                .label {
                    display: block;
                    margin-top: 21px;


                }

                .input {
                    width: 360px;
                    padding: 15px;
                    font-style: light;
                    font-size: 13px;
                    line-height: 16px;
                    line-height: 100%;
                    border-style: none;
                    border: 1px solid #A4A4A4;
                }

                .txt_under_submit {
                    @extend .text_style_form;
                    margin-top: 15.5px;
                }

                .radio_button {
                    display: flex;
                    margin-top: 31px;

                    .label_radio {
                        display: flex;
                        margin-right: 20px;

                        font-style: light;
                        font-size: 11px;
                        line-height: 13px;
                        line-height: 100%;
                        text-transform: capitalize;

                        .input_radio {
                            margin-right: 10px;



                        }

                    }




                }

                .submit {
                    margin-bottom: 96px;
                    border: 1px solid #F16D7F;
                    margin-top: 39px;
                    width: fit-content;


                    &_txt {
                        color: #F16D7F;
                        padding: 16px 66px 17px 29px;

                    }


                    .submit_txt:hover {
                        color: #FFFFFF;
                    }

                }

                .submit:hover {
                    background-color: #F16D7F;
                }



                .login_txt {
                    margin-top: 33px;
                    font-size: Light;
                    font-size: 16px;
                    line-height: 19px;
                    line-height: 100%;
                }



            }

        }

        .registration_form_box_offer {
            display: flex;
            flex-direction: column;
            // width: $width-syte/2;

            &_heading {
                display: block;
                @extend .text_style;
                margin-bottom: 22px;
            }

            &_txt {
                display: block;
                @extend .text_style;

                margin-bottom: 16px;


            }

        }




    }




}




.footer_text {
    color: #FFFFFF;
    font-weight: 400;
    margin-top: 28px;
    display: block;
}

.footer_item_text {
    color: #FFFFFF;
    font-weight: 300;
    margin-top: 16px;
    display: block;
    font-size: 13px;
    line-height: 16.77px;
    text-align: center;
}

.subscribe {
    background-image: url(img/photo-subscribe.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    display: flex;
    justify-content: center;
}

.subscribe_conteiner {
    width: 1140px;
    display: flex;
    justify-content: space-between;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_review {
    display: block;
    height: 320px;
    width: 186px;

}

.review_text {
    display: block;
    width: 360px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 557px;
}

.text_form {
    display: block;
    margin-top: 150px;
    text-align: center;
    margin-bottom: 32px;
    text-align: center;
}

.text_subscribe {
    display: block;
    width: 557px;
    margin-bottom: 16px;
    width: 557px;
}

.text_sub {
    text-align: center;
}

.enter_text {
    height: 43px;
    width: 256px;
    border-style: none;
    background-color: #E1E1E1;
    border-radius: 30px 0px 0px 30px;
    padding-left: 22px;

}

.button_subscribe {
    height: 43px;
    border-style: none;
    background-color: #FFFFFF;
    border-radius: 0px 30px 30px 0px;
}

.text_bottom {
    padding-left: 16px;
    padding-right: 16px;
    color: #F16D7F;
    padding-top: 13px;
    padding-bottom: 13px;
}

.button_subscribe:hover {
    background-color: #F16D7F;
}

.text_bottom:hover {
    color: #FFFFFF;
}

.second_footer {
    background-color: #222222;
    display: flex;
    justify-content: center;
    height: 79px;
}

.second_footer_conteiner {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    color: #FFFFFF;
    align-items: center;

}